
@{
    ViewBag.Title = "SSS | Sıkça Sorulan Sorular";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="background-color:#fff;">
    <div class="container">
        <div class="row">
            <h1>Sıkça Sorulan Sorular</h1>

            <h3>Üyelik şifremi unuttum ne yapmalıyım?</h3>
            <p>Giriş sayfasındaki şifremi unuttum butonuna tıklayın. Yönlendirildiğiniz sayfadaki formu doldurup yeni şifre alabilirsiniz.</p>
            <hr />
            <h3>Puanım sıfırlandı ne yapmalıyım?</h3>
            <p>Bu çok normal bir durum. Sistemimimiz tarafından <strong>her ayın sonunda</strong> puanlarınız sıfırlanmaktadır.</p>
            <hr />
            <h3>Adres bilgilerimi, profil fotoğrafımı nereden değiştirebilirim?</h3>
            <p>Sisteme giriş yaptıktan sonra en üstte ve en altta bulunan <strong>Hesabım</strong> bölümünden güncelleme işlemlerinizi yapabilirsiniz.</p>
            <hr />
            <h3>Sipariş verdiğim ürünüm gelmedi. Ne yapmalıyım?</h3>
            <p>İletişim sayfasında bulunan formu doldurup bize gönderdiğinizde destek ekibimiz sizinle irtibata geçecektir.</p>
        </div>
    </div>
</div>