<div class="modal" id="status-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="divStatusModal" class="modal-body">
                <p>...</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>