
@{
    ViewBag.Title = "Bir Hata Oluştu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>Oops!</h1>
            <h2>Bir sorun var</h2>
        </div>
        <a href="@Url.Action("Index","Home")">Ana Sayfaya Dön</a>
    </div>
</div>


@section JavaScripts{
    <script src="~/Content/js/SearchScript.js"></script>
    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/js/popper.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
}