<div class="modal" id="adsModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button id="btnAdsClose" type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">Kazandıran Reklam Burada !</h4>
            </div>
            <div class="modal-body">
                REKLAM ALANI
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>