
@{
    ViewBag.Title = "Şartlar ve Koşullar";
    Layout = null;// "~/Views/Shared/_Layout.cshtml";
}

<div style="margin:15px">
    <h1 class="page-header">
        <span>Şartlar ve Koşullar</span>
    </h1>
    <div class="field-components-container component-416501">

        <div class="field field--name-field-components field--type-entity-reference-revisions field--label-hidden field--items">
            <div class="field--item">
                <div class="tw paragraph paragraph--type--c-text paragraph--view-mode--default" id="section-10496" style="background-image: url('');">
                    <div class="component-paragraph-field">

                        <div class="field field--name-field-summary-text field--type-text-long field--label-hidden field--item">
                            <h4>ReklamKafe Web Sitesi Şart ve Koşullar</h4>
                            <p style="text-align:justify;">Bu web sitesini ziyaret ettiğiniz için teşekkür ederiz. Bu web sitesini herhangi bir şekilde kullanmanız burada belirtilen Şart ve Koşulları kabul ettiğiniz anlamına geldiğinden, lütfen bu belgedeki Şart ve Koşulları dikkatle okuyun. </p>
                            <p>Bu sitede "biz", "bizim," "ReklamKafe" ifadeleri ReklamKafe ve bağlama göre bağlı şirketlerinden birini anlatır. "Siz" bu web sitesine erişim sağlayan ve/veya kullanan kişileri anlatır.</p>
                            <h4>Web Sitesi Gizlilik Uyarısı</h4>
                            <p style="text-align:justify;">Bu web sitesine iletilen tüm kişisel bilgiler veya materyaller bu web sitesinde bulunan Gizlilik Uyarısı'na tabidir. </p>
                            <h4>Bilgilerin Doğruluğu, Eksiksizliği ve Güncelliği</h4>
                            <p>Bu web sitesinde yer alan tüm bilgilerin doğru ve eksiksiz olması için tüm makul çabayı göstermemize rağmen bu web sitesinde yer alan bilginin doğru veya eksiksiz olmamasından sorumlu tutulamayız. Bu web sitesindeki materyale güvenmenizden doğan sorumluluk tarafınıza aittir. Materyalde ve bu web sitesinde bulunan bilgilerde yapılan her tür değişikliği takip etme sorumluluğunun tarafınıza ait olduğunu kabul edersiniz.</p>
                            <h4>Aktarım</h4>
                            <p style="text-align:justify;">Bu web sitesine elektronik posta veya başka yollarla aktardığınız kişisel olmayan her tür yazışma veya veri, soru, yorum, öneri vb. materyalin gizli ve tescilli olmadığı kabul edilecektir. Aktardığınız veya yayınladığınız her şey ReklamKafe'nin mülkü haline gelir ve çoğaltma, kamuya açma, aktarma, yayınlama, yayımlama ve ilan etme dahil olup bunlarla sınırlı olmaksızın herhangi bir amaçla kullanılabilir. Ayrıca, ReklamKafe bu web sitesine gönderdiğiniz herhangi bir yazışmadaki her tür fikri, grafik sanat çalışmasını, icadı, geliştirmeyi, öneriyi veya konsepti (ürün geliştirme, üretme, reklam ve pazarlama dahil olup bunlarla sınırlı olmaksızın) herhangi bir amaçla kullanmakta serbesttir. Söz konusu kullanım bilgileri, ibraz eden tarafa tazminat hakkı vermez. Bilgileri göndererek ibraz ettiğiniz materyal/içeriğin sahibi olduğunuzu, bunların iftira niteliğinde olmadığını ve ReklamKafe tarafından kullanımının herhangi bir üçüncü kişinin haklarını ihlal etmeyeceğini ya da yürürlükteki yasaların ihlaliyle karşı karşıya bırakmayacağını garanti edersiniz. ReklamKafe gönderilen bilgileri kullanmakla yükümlü değildir.</p>
                            <h4>Fikri Mülkiyet Hakları</h4>
                            <p style="text-align:justify;">Bu web sitesindeki her tür metin, resim ve diğer materyale ait tüm telif hakları, ticari markalar ve diğer fikri mülkiyet hakları ReklamKafe'ye aittir veya ilgili sahibinin izniyle siteye dahil edilmiştir. </p>
                            <p style="text-align:justify;">
                                Bu web sitesinde gezinebilirsiniz ve yazdırma veya bir sabit diske indirme yoluyla ya da başka şahıslara iletme amacıyla alıntılarını çoğaltabilirsiniz. Bu, yalnızca hiçbir telif hakkını veya patent bildirimini ihlal etmemeniz ve bu tür çoğaltmaların üzerinde aşağıdaki ticari markanın görünmesi kaydıyla yapılabilir. Bu web sitesinden çoğaltılan hiçbir şey satılamaz veya ticari kazanç amacıyla dağıtılamaz, değiştirilemez ve başka herhangi bir tür çalışmaya, yayına veya web sitesine dahil edilemez.
                            </p>
                            <strong>www.reklamkafe.com Tüm hakları saklıdır. </strong>
                            <h4>Başka Web Sitelerine Bağlantılar</h4>
                            <p style="text-align:justify;">ReklamKafe web sitelerindeki bağlantılar sizi ReklamKafe ağının dışına yönlendirebilir. ReklamKafe bu diğer web sitelerinin içeriği, verdiği bilgilerin doğruluğu veya bu sitelerin işlevinden hiçbir sorumluluk kabul etmez. Bağlantılar iyi niyetle verilmiştir ve ReklamKafe bağlantı verdiğimiz diğer web sitelerinde daha sonra yapılan değişikliklerden sorumlu tutulamaz. Başka web sitelerine bağlantı verilmesi bu sitelerin ReklamKafe tarafından desteklendiği anlamına gelmez. Ziyaret ettiğiniz tüm diğer web sitelerinin yasal ve gizlilik bildirimlerinden haberdar olmanızı ve bunları dikkatle okumanızı öneririz.</p>
                            <h4>Garantiler ve Feragatname</h4>
                            <p>Bu web sitesini sorumluluğu tarafınıza ait olmak üzere kullanabilirsiniz.</p>
                            <h4>Garantiler</h4>
                            <p style="text-align:justify;">
                                Bu web sitesi tarafınıza "Olduğu Gibi" ve "Bulunduğu Sürece" esasında sağlanmaktadır ve dolayısıyla ReklamKafe bu web sitesindeki materyalin eksiksiz, doğru, güvenilir, güncel olduğu ve üçüncü tarafların haklarını ihlal etmediği; bu web sitesine erişimin kesintisiz veya hatasız olacağı; bu web sitesinin güvenli olacağı; ReklamKafe'den bu web sitesi yoluyla alınan herhangi bir öneri veya kanaatin doğru veya güvenilir olduğu gibi garantiler ve beyanlar dahil açık, zımni, yasal veya (ticari amaçlarla kullanılabilirlik veya tatmin edici özellik ve belirli bir amaca uygun zımni garantileri dahil) diğer herhangi bir tür garanti vermemektedir ve bu manadaki her tür beyan ve garanti işbu belgede reddedilir.
                            </p>
                            <p style="text-align:justify;">Lütfen belirli yargı alanlarının zımni garantilerin hariç tutulmasını kabul etmeyebileceği, dolayısıyla bu istisnanın sizin için geçerli olmayabileceği hususuna dikkat edin. Lütfen yerel kanunları kontrol edin.</p>
                            <p style="text-align:justify;">Bu web sitesine veya sitenin herhangi bir özelliğine veya ilgili herhangi bir özellik veya parçasına erişiminizi herhangi bir zamanda haber vermeksizin kısıtlama, askıya alma veya sona erdirme hakkımız saklıdır.</p>
                            <h4>Yükümlülük</h4>
                            <p style="text-align:justify;">ReklamKafe ve/veya bu web sitesinin bizim adımıza yaratılmasında, üretilmesinde veya dağıtılmasında çalışan diğer herhangi bir taraf bu web sitesine erişiminizden, siteyi kullanmanızdan, kullanamamanızdan, web sitesinin içeriğinin değişmesinden ya da bu web sitesindeki bir bağlantı yoluyla eriştiğiniz başka herhangi bir web sitesinden ya da bize gönderdiğiniz elektronik posta mesajları sonucunda yaptığımız veya yapmadığımız herhangi bir şeyden kaynaklanan doğrudan, arızi, dolaylı veya ceza gerektiren herhangi bir hasar, maliyet, kayıp veya tazminat için herhangi bir yükümlülük veya sorumluluk kabul etmez. </p>
                            <p style="text-align:justify;">ReklamKafe'nin ve/veya bu web sitesinin yaratılmasında, üretilmesinde veya dağıtılmasında çalışan herhangi bir tarafın bu web sitesinde sağlanan materyal ve hizmetleri sürdürme veya bunlarla bağlantılı herhangi bir düzeltme, güncelleme veya sürüm çıkarma sorumluluğu yoktur. Bu web sitesinde sağlanan her tür materyal önceden bildirilmeden değiştirilebilir.</p>
                            <p style="text-align:justify;">Ayrıca ReklamKafe bu web sitesindeki herhangi bir içeriğe erişmeniz, bu içeriği kullanmanız veya indirmeniz nedeniyle bilgisayar donanımınıza veya başka herhangi bir malınıza bulaşabilecek virüsler nedeniyle yaşanabilecek kayıplardan hiçbir şekilde sorumlu değildir. Bu web sitesinden herhangi bir materyal indirmeye karar verirseniz, bunun sorumluluğu tarafınıza aittir.</p>
                            <p style="text-align:justify;">Yürürlükteki yasanın izin verdiği ölçüde bu web sitesini kullanmak veya bu web sitesine erişim sağlamaktan doğabilecek tüm haklarınızdan açıkça feragat etmektesiniz.</p>
                            <h4>Yasaklanan Faaliyetler</h4>
                            <p style="text-align:justify;">
                                ReklamKafe'nin kesin takdiriyle uygun olmadığını düşünebileceği ve/veya yasadışı bir eylem teşkil edebilecek ya da bu web sitesi için yürürlükteki yasalarca yasaklanan, aşağıdakiler dahil olup bunlarla sınırlı olmamak kaydıyla, her tür eylemi yapmanız yasaktır:
                            </p>
                            <ul style="text-align:justify;">
                                <li>Gizliliğin (ilgili kişinin onayını almadan gizli bilgilerin karşıya yüklenmesi buna dahildir) veya kişilerin diğer yasal haklarının ihlalini teşkil edecek her tür eylem; </li>
                                <li>Bu web sitesini ReklamKafe'ye, çalışanlarına veya başka kişilere hakaret ve iftirada bulunmak veya ReklamKafe'nin itibarını lekeleyecek başka herhangi bir eylemde bulunmak için kullanma; </li>
                                <li>ReklamKafe'nin veya başka kişilerin malına zarar verebilecek virüsler içeren dosyaları yükleme ve </li>
                                <li>Bu web sitesine aşağıdakiler dahil ancak sınırlandırmamak üzere, kanaatimizce rahatsızlık veya hasar veren veya ReklamKafe veya üçüncü tarafın sistem veya ağ güvenliğini ihlal eden, onur kırıcı, müstehcen, tehdit eden, pornografik veya herhangi bir şekilde kanun dışı herhangi yetkilendirilmeyen materyaller gönderilmesi veya iletilmesi. </li>
                            </ul><h4>Yargı Yetkisi ve Geçerli Kanun</h4>
                            <p style="text-align:justify;">ReklamKafe bu web sitesinde yer alan materyal ve bilgilerin tüm ulusal konumlarda veya dillerde uygun veya mevcut olduğuna dair bir beyanda bulunmamaktadır. </p>
                            <p style="text-align:justify;">Tarafınız ve ReklamKafe, bu web sitesinin kullanımından kaynaklanan veya kullanımıyla ilgili her tür ihtilaf veya davanın İsviçre hukukuna tabi olduğu ve İsviçre mahkemelerinin münhasır yargı yetkisine teslim olacağı hususunda mutabakata varır.</p>
                            <h4>Yasal Bildirim Güncellemesi</h4>
                            <p style="text-align:justify;">Bu bildirimde istediğimiz herhangi bir değişiklik ve düzeltme yapma hakkımız saklıdır. Bu değişiklik ve düzeltmeleri ve yeni ek bilgileri incelemek için lütfen muhtelif zamanlarda bu sayfaya başvurun.</p>
                            <p style="text-align:justify;"><strong>Telif Hakkı</strong> www.ReklamKafe.com </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
