
@{
    ViewBag.Title = "Şifremi Unuttum | Şifre Sıfırla";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Şifremi Unuttum</title>

    <!-- Bootstrap -->
    <link href="~/Areas/Admin/Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Areas/Admin/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Areas/Admin/Content/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="~/Areas/Admin/Content/vendors/animate.css/animate.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/Areas/Admin/Content/build/css/custom.min.css" rel="stylesheet">

    <link rel="icon" href="~/Content/images/logo.png">
</head>

<body class="login">
    <div>
        <div class="login_wrapper">
            <div id="register" class="animate form login_form">
                <section class="login_content">
                    <form method="post" action="/User/ForgotPassword" enctype="multipart/form-data" data-parsley-validate class="form-horizontal form-label-left">
                        @Html.AntiForgeryToken()
                        <h1>Şifreni Yenile</h1>
                        <div>
                            <input type="email" class="form-control" name="email" placeholder="Profilinizdeki mail adresinizi girin" required />
                        </div>
                        <div>
                            <input type="submit" style="margin-left:120px; margin-bottom:-10px;" class="btn btn-default submit" value="Şifremi Yenile" />
                        </div>

                        <div class="clearfix"></div>
                        <br />

                        <div class="separator">
                            <div class="clearfix"></div>
                            <div>
                                <h1><i class="fa fa-paw"></i> Reklam Kafe </h1>
                            </div>
                            <p class="change_link">
                                <a href="#"> Gizlilik ve Kullanım </a>
                            </p>
                            <p>@DateTime.Now.Year Tüm Hakları Saklıdır.</p>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</body>
</html>
